.mission{
    display: flex;
    padding: 80px;
    margin: auto;
}
.target{
    width: 40%;
    margin: auto;
}
h5{
    color: gray;
}
.orenge{
    color: chocolate;
}
.mission h1{
    font-size: 60px;
    border-left: rgb(231, 109, 28) 4px solid;
    padding: 10px;
}
.mission a{
    background-color: rgb(248, 60, 123);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
}
.mission p{
    color: #2e3131;
    font-family: Verdana, Tahoma, sans-serif;
    padding: 10px;
}
.mission img{
    width: 500px;
}