body{
    margin: 0;
}
.mission{
    display: flex;
    padding: 80px;
    margin: auto;
}
.target{
    width: 40%;
    margin: auto;
}
h5{
    color: gray;
}
.orenge{
    color: chocolate;
}
.mission h1{
    font-size: 60px;
    border-left: rgb(231, 109, 28) 4px solid;
    padding: 10px;
}
.mission a{
    background-color: rgb(248, 60, 123);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
}
.mission p{
    color: #2e3131;
    font-family: Verdana, Tahoma, sans-serif;
    padding: 10px;
}
.mission img{
    width: 500px;
}
.main-aria h1{
    text-align: center;
}
.main-menu{
    padding: 45px;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}
.mollit{
    height: 350px;
    width: 330px;
    padding: 10px 15px;
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}
.main-menu img{
    height: 100px;
    width: 100px;
    margin-top: 24px;
}
.deserun{
    padding: 20px 50px;
    line-height: 25px;
    font-weight: 400;
}
.deserun h1{
    font-size: 32px;
    line-height: 35px;
}
.deserun a{
    text-decoration: none;
    background-color: rgb(238, 59, 59);
    padding: 10px 40px;
    border-radius: 10px;
    color: cornsilk;
    font-weight: 700;
}

.deserunt img{
    height: 350px;
    width: 350px;
}
.consequat{
    display: flex;
    width: 80%;
    margin: auto;
}
.navber{
    display: flex;
    padding: 100px;
    height: 350px;
    background-color:#ffffff;
    margin: auto;
}
.web-hero{
    width: 50%;
}
.web-hero img{
    width: 100%;
}
.web-hero p{
    color: #9da3a7;
    margin-top: 35px;
    line-height: 22px;
}
footer{
    font-family: Lobster;
    text-align: center;
    background-color: black;
    color: white;
    padding: 45px;
    line-height: 40px;
}
footer h1{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer p{
    margin: 0;
}







